[Unit]
Description=Simple Server
After=network.target

[Service]
Type=simple
# Another Type option: forking
WorkingDirectory=/app
ExecStart=/usr/bin/webserver
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
